.bg_png{/*这是背景图*/
	width: expression(window.screen.width);
	height: 700px;
	background-image: linear-gradient(to top,rgb(255,255,255),transparent),url("../img/bg_img.png");/*渐变效果*/
	border: none;
}
.hander_page{/*导航栏*/
	height: 90px;
	background-color: coral;
}
.hander_page a{/*导航栏里的内容*/
	line-height: 90px;
	margin-left: 20px;
	color: white;
	font-size: 20px;
	font-family: MC;
	transition-duration: 0.2s;
	display: block;
	height: 80px;
	float: left;
}
@font-face {
	font-family: MC;
	src: url("../font/Minecraft_font.woff");
	font-weight: bold;
}
.block{
	clear: both;
}
a:hover{/*动态效果*/
	background-color: firebrick;
}
