.bg_png{
	width: expression(window.screen.width);
	height: 400px;
	background-image: linear-gradient(to top,rgb(255,255,255),transparent),url("../img/bg_img.png");
	border: none;
	width: 100%;
}
.hander_page{
	height: 90px;
	background-color: coral;
}
@font-face {
	font-family: MC;
	src: url("../font/Minecraft_font.woff");
	font-weight: bold;
}
.hander_page a{
	line-height: 90px;
	margin-left: 20px;
	color: white;
	font-size: 20px;
	font-family: MC;
	transition-duration: 0.2s;
	display: block;
	height: 80px;
	float: left;
}
.block{
	clear: both;
}
a:hover{
	background-color: firebrick;
}
img{
	height: 200px;
	width: 400px;
}
.screenshot{
	height: 250px;
	margin-top: 20px;
}
.screenshot img{
	margin-left:35px ;
	margin-top: 10px;
}
h1{
	font-size: 50px;
	font-family: MC;
	text-align: center;
}
p{
	text-align: center;
	font-family: MC;
	font-size: 20px;
}
.emblem{
	height: 200px;
	width: 200px;
	margin-left: 20px;
}
.main div{
	margin-top: 50px;
	text-align: center;
}
p a{
	ont-family: MC;
	font-size: 20px;
	color: royalblue;
}
li a{
	ont-family: MC;
	font-size: 20px;
	color: royalblue;
}
li{
	text-align: center;
	font-family: MC;
	font-size: 20px;
}
.map{
	height: 700px;
	width: 800px;
}
h2{
	font-size: 40px;
	font-family: MC;
	text-align: center;
}
h2 a{
	font-size: 40px;
	font-family: MC;
	text-align: center;
}
footer{
	background-color: yellowgreen;
	text-align: center;
}
footer a{
	color: dodgerblue;
	ont-family: MC;
	font-size: 20px;
}